* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #777777;
}

.viewer {
    width: 100%;
    height: 80%;
}

.page {
    height: 100%;
    width: 100%;
    position: absolute;
}

.page img {
    width: 95%;
    height: auto;
    box-shadow: 0px 0px 6px;
}

#menu,
#sbar {
    position: fixed;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #222222;
    color: #FFFFFF;
    opacity: 0.9;
}

#menu {
    top: 0;
    height: 30px;
}

#pageDisp {
    text-align: center;
}

#sbar {
    bottom: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider {
    height: 10px;
    width: 80%;
    background-color: #FFFFFF;
    opacity: 1.0;
    border-radius: 10px;
}

.slider .ui-slider-handle {
    border-radius: 30px;
}

.ui-slider .ui-slider-handle:focus {
    outline: none;
}