html {
    height: 100%;
}

body {
    margin: 5px 5px;
    height: 95%;
    background-color: #777
}

main {
    height: 100%;
}

#contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.viewer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.viewer .page {
    height: 100%;
    width: 100%;
}

.page img {
    width: 95%;
    height: auto;
    box-shadow: 0px 0px 6px;
    padding: 5px;
}

.navigator {
    width: 100%;
    height: 10%;
    background-color: #555;
    display: flex;
    align-items: center;
}

.navigator .bar {
    width: 85%;
    height: 10px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
}

.navigator .bar .seeker {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 6px;
    position: relative;
    top: -5px;
}