body {
  position: relative;
  overflow-x: hidden;
  background-color: #777777;
}

.viewer {
  width: 100%;
  height: 80%;
}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
}

.page img {
  width: 95%;
  height: auto;
  box-shadow: 0px 0px 6px;
}
