{% extends "layout.html" %}
{% block content %}
{% if message == 'tapi' %}
Twitter APIの上限に達しました。 <br />
{% endif %}
<br />
<div class="ui main text container">
    <form action="/search" method="get">
        <div class="ui action input">
            <input type="text" placeholder="Title or URL or Author ID" name="query" />
            <select name="sbox" class="ui compact selection dropdown">
                <option value="title">Title</option>
                <option value="url">URL</option>
                <option value="author">Author ID</option>
            </select>
            <button class="ui button" type="submit">
                <i class="search icon"></i>
                Search
            </button>
        </div>

    </form>
</div>

{% endblock %}