<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>twMangaView</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

  <style type="text/css">
    .main.container {
      margin-top: 5em;
    }

    .item img {
      zoom: 0.5;
    }
  </style>
</head>

<body>
  <div class="ui fixed main menu">
    <div class="ui container">
      <div class="header item">
        twMangaView
      </div>
      <div class="item">
        <a href="/" style="color:#000000;">Top</a>
      </div>
      <div class="right menu">
        {% if 'screen_name' in session%}
        <div class="vertically fitted item">
          <a href="/profile?{{session['screen_name']}}">
            <img src="{{session['profile_image_url']}}" alt="">
          </a>
          <a href="/profile?{{session['screen_name']}}">
            {{session['screen_name']}}
          </a>
        </div>
        {% endif %}
        <div class="item">
          {% if 'oauth_token' in session %}
          <a href="/signout">sign out</a>
          {% else %}
          <a href="/signin">sign in with twitter</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% block content %} {% endblock %}
  <div class="ui divider"></div>

  <script>
    $(document).ready(function () {
      $(".ui.dropdown").dropdown();
    });
    $(".message .close").on("click", function () {
      $(this)
        .closest(".message")
        .transition("fade");
    });
  </script>
</body>

</html>