{% extends "layout.html" %}
{% block content %}
<div class="ui main text container">
    <h3 class="ui header">{{screen_name}}さんがお気に入りした書籍</h3>
    {% if not favorites%}
    <p>お気に入りした書籍はありません。</p>
    {% else %}
    <div class="ui large relaxed divided list">
        {% for data in favorites %}
        <div class="item">
            <img src={{data.thumbnail}} alt="" class="ui small avatar image" style="border-radius: 0;">
            <div class="content">
                <a class="header" href="/view/{{data.id}}" style="font-size:20px;">{{data.title}}</a>
                <div class="description" style="font-size:12px;">
                    <a href="https://twitter.com/{{data.author[1:]}}">{{data.author}}</a> -
                    <a href="{{data.url}}">元ツイート</a><br>
                    <a href="https://twitter.com/intent/retweet?tweet_id={{data.jsonfile}}" target="_blank">
                        <i class="retweet icon"></i>リツイートする
                    </a> |
                    <a href="https://twitter.com/intent/like?tweet_id={{data.jsonfile}}" target="_blank">
                        <i class="heart icon"></i>いいねする
                    </a><br>
                    {% if 'screen_name' in session %}
                    <form name="favform" action="/favorite" method="POST">
                        <input type="hidden" name="id" value="{{data.id}}">
                        <a href="javascript:favform[{{loop.index0}}].submit()" class="favmit">
                            お気に入りを解除する
                        </a>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <h3 class="ui header">{{screen_name}}さんが追加した書籍</h3>
    {% if not books%}
    <p>追加した書籍はありません。</p>
    {% else %}
    <div class="ui large relaxed divided list">
        {% for data in books %}
        <div class="item">
            <img src={{data.thumbnail}} alt="" class="ui small avatar image" style="border-radius: 0;">
            <div class="content">
                <a class="header" href="/view/{{data.id}}" style="font-size:20px;">{{data.title}}</a>
                <div class="description" style="font-size:12px;">
                    <a href="https://twitter.com/{{data.author[1:]}}">{{data.author}}</a> -
                    <a href="{{data.url}}">元ツイート</a><br>
                    <a href="https://twitter.com/intent/retweet?tweet_id={{data.jsonfile}}" target="_blank">
                        <i class="retweet icon"></i>リツイートする
                    </a> |
                    <a href="https://twitter.com/intent/like?tweet_id={{data.jsonfile}}" target="_blank">
                        <i class="heart icon"></i>いいねする
                    </a><br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}