{% extends "layout.html" %}
{% block content %}
<div class="ui main text container">
    {% if message == 'not_manga' %}
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            画像を取得できませんでした。
        </div>
        <p>スレッドと引用を間違えていませんか？</p>
    </div>
    {% endif %}
    {% if message == 'success' %}
    <div class="ui success message">
        <i class="close icon"></i>
        <div class="header">
            画像を取得しました。
        </div>
    </div>
    {% endif %}


    <div class="ui header">
        <h2>検索結果</h2>
    </div>
    <p>{{content|length}} 件見つかりました。</p>
    <div class="ui large relaxed divided list">
        {% for data in content %}
        <div class="item">
            <img src={{data.thumbnail}} alt="" class="ui small avatar image" style="border-radius: 0;">
            <div class="content">
                <a class="header" href="/view/{{data.id}}" style="font-size:20px;">{{data.title}}</a>
                <div class="description" style="font-size:12px;">
                    <a href="https://twitter.com/{{data.author[1:]}}">{{data.author}}</a> -
                    <a href="{{data.url}}">元ツイート</a><br>
                    <a href="https://twitter.com/intent/retweet?tweet_id={{data.jsonfile}}" target="_blank">
                        <i class="retweet icon"></i>リツイートする
                    </a> |
                    <a href="https://twitter.com/intent/like?tweet_id={{data.jsonfile}}" target="_blank">
                        <i class="heart icon"></i>いいねする
                    </a><br>
                    {% if 'screen_name' in session %}
                    <form name="favform" action="/favorite" method="POST">
                        <input type="hidden" name="id" value="{{data.id}}">
                        <a href="javascript:favform[{{loop.index0}}].submit()" class="favmit">
                            {% if userjson %}
                            {% if data.id in userjson['favorites'] %}
                            お気に入りを解除する
                            {% else %}
                            お気に入りに追加する
                            {% endif %}
                            {% else %}
                            お気に入りに追加する
                            {% endif %}
                        </a>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if sbox == 'url' and 'screen_name' in session%}
    <div class="ui divider"></div>
    <form action="/fetch" method="post">
        <input type="hidden" name="twurl" value="{{twurl}}">
        <div class="ui action input">
            <input type="text" name="title" placeholder="タイトル" required>
            <select name="sbox" class="ui compact selection dropdown">
                <option value="thread">スレッド</option>
                <option value="quote">引用</option>
            </select>
            <button class="ui button" type="submit">
                webから取り込む
            </button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}