<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>twMangaView</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="static/js/viewer.js"></script>

    <link rel="stylesheet" href="static/css/viewer.css" />
  </head>

  <body>
    <div id="menu">
        <p>{{title}}</p>
    </div>

    <div id="contents">
      <div class="viewer" id="viewer">
        <div class="page"></div>
        <div class="page"></div>
        <div class="page"></div>
      </div>
    </div>

    <div id="sbar">
        <div id="pageDisp">
        </div>
        <div class="slider"></div>
    </div>

    <script>
      let image_list = [];
      {% for image in imgl %}
      image_list.push("{{image}}");
      {% endfor %}
    </script>
    <div class="ui divider"></div>
  </body>
</html>
